In [1]:
#Import relevant libraries

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mat
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [4]:
#Import dataset
#Dataset "Social_Media_Usage" classifies the social media platforms used by males and females of different ages
#Generate a model to predict platforms used by a 21yr old female and a 32yr old male

In [7]:
Social = pd.read_csv("Social_Media_Usage.csv")
Social

    age  gender  platform
0    20  female    tiktok
1    23  female    tiktok
2    25  female    tiktok
3    26  female  snapchat
4    29  female  snapchat
5    30  female  snapchat
6    31  female   twitter
7    33  female   twitter
8    37  female   twitter
9    20    male    tiktok
10   21    male    tiktok
11   25    male    tiktok
12   26    male   twitter
13   27    male   twitter
14   30    male   twitter
15   31    male  facebook
16   34    male  facebook
17   37    male  facebook

In [6]:
#Convert the column "gender" to numeric data using pandas

In [13]:
Social['gender'].replace(['female', 'male'],
                        [0, 1], inplace=True)
Social

    age  gender  platform
0    20       0    tiktok
1    23       0    tiktok
2    25       0    tiktok
3    26       0  snapchat
4    29       0  snapchat
5    30       0  snapchat
6    31       0   twitter
7    33       0   twitter
8    37       0   twitter
9    20       1    tiktok
10   21       1    tiktok
11   25       1    tiktok
12   26       1   twitter
13   27       1   twitter
14   30       1   twitter
15   31       1  facebook
16   34       1  facebook
17   37       1  facebook

In [14]:
#The data needs to be split so as to predict the output.

In [15]:
#In this case we first drop the column 'platform' which is what we're trying to predict

In [16]:
X = Social.drop(columns=['platform'])
X

    age  gender
0    20       0
1    23       0
2    25       0
3    26       0
4    29       0
5    30       0
6    31       0
7    33       0
8    37       0
9    20       1
10   21       1
11   25       1
12   26       1
13   27       1
14   30       1
15   31       1
16   34       1
17   37       1

In [18]:
y = Social['platform']
y

0       tiktok
1       tiktok
2       tiktok
3     snapchat
4     snapchat
5     snapchat
6      twitter
7      twitter
8      twitter
9       tiktok
10      tiktok
11      tiktok
12     twitter
13     twitter
14     twitter
15    facebook
16    facebook
17    facebook
Name: platform, dtype: object

In [19]:
#Building the model (using the Decision Trees classification method)

In [32]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [33]:
#Train the model using the X(input set) and y(output set)

In [34]:
model.fit(X, y)

DecisionTreeClassifier()

In [35]:
#Make predictions using the designed model to determine platforms used by a 21yr female and 32 yr male

In [36]:
prediction = model.predict([[21, 0], [32, 1]])
prediction

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['tiktok', 'facebook'], dtype=object)

In [38]:
#The model predicts tiktok for the female and facebook for the male.

In [39]:
# Measuring the accuracy of the model

In [40]:
#Rule of thumb: Allocate 70-80% of data to train the model, 20-30% of data for testing the model

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

score = accuracy_score(y_test, prediction)
score

1.0

In [42]:
#The accuracy score ranges from 0-1. The returned value shows that the model 100% accurately makes the prediction. 
#However, accuracies are also affected by the test size used

In [43]:
#If perhaps the test size is 30% of the data

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

score2 = accuracy_score(y_test, prediction)
score2

0.5

In [45]:
#The accuracy level has reduced to 50%

In [48]:
#Save the trained model as a joblib file

In [49]:
from sklearn.externals import joblib
joblib.dumb(model, 'Social Media Predictor.joblib')
#Prediction model is saved as 'Social Media Predictor.joblib'

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\externals\__init__.py)

In [50]:
#To generate the decision tree output

In [51]:
tree.export_graphviz(model, out_file = 'Social Media Predictor.dot',
                    feature_names = ['age', 'gender'],
                    class_names = sorted(y.unique()),
                    label = 'all',
                    rounded = True,
                    filled = True)

NameError: name 'tree' is not defined